<section id="portfolio">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Meet some of the stars!</h2>
                <hr class="star-light">
            </div>
        </div>
        <div class="row no-gutter">
            <div class="col-sm-4 portfolio-item">
                <a href="#portfolioModal1" class="portfolio-link" data-toggle="modal">
                    <div class="caption">
                        <div class="caption-content">
                            <i class="fa fa-search-plus fa-3x"></i>
                        </div>
                    </div>
                    <%= image_tag "freelancer/portfolio/marshy.png", class: "img-responsive", alt: "" %>
                </a>
            </div>
            <div class="col-sm-4 portfolio-item">
                <a href="#portfolioModal2" class="portfolio-link" data-toggle="modal">
                    <div class="caption">
                        <div class="caption-content">
                            <i class="fa fa-search-plus fa-3x"></i>
                        </div>
                    </div>
                    <%= image_tag "freelancer/portfolio/jellburr.png", class: "img-responsive", alt: "" %>
                </a>
            </div>
            <div class="col-sm-4 portfolio-item">
                <a href="#portfolioModal3" class="portfolio-link" data-toggle="modal">
                    <div class="caption">
                        <div class="caption-content">
                            <i class="fa fa-search-plus fa-3x"></i>
                        </div>
                    </div>
                    <%= image_tag "freelancer/portfolio/elly.png", class: "img-responsive", alt: "" %>
                </a>
            </div>
            <div class="col-sm-4 portfolio-item">
                <a href="#portfolioModal4" class="portfolio-link" data-toggle="modal">
                    <div class="caption">
                        <div class="caption-content">
                            <i class="fa fa-search-plus fa-3x"></i>
                        </div>
                    </div>
                    <%= image_tag "freelancer/portfolio/geraldine.png", class: "img-responsive", alt: "" %>
                </a>
            </div>
            <div class="col-sm-4 portfolio-item">
                <a href="#portfolioModal5" class="portfolio-link" data-toggle="modal">
                    <div class="caption">
                        <div class="caption-content">
                            <i class="fa fa-search-plus fa-3x"></i>
                        </div>
                    </div>
                    <%= image_tag "freelancer/portfolio/mocha.png", class: "img-responsive", alt: "" %>
                </a>
            </div>
            <div class="col-sm-4 portfolio-item">
                <a href="#portfolioModal6" class="portfolio-link" data-toggle="modal">
                    <div class="caption">
                        <div class="caption-content">
                            <i class="fa fa-search-plus fa-3x"></i>
                        </div>
                    </div>
                    <%= image_tag "freelancer/portfolio/cburr.png", class: "img-responsive", alt: "" %>
                </a>
            </div>
        </div>
    </div>
</section>



<!-- Portfolio Modals -->
<div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        <h2>Meet Marshy!</h2>
                        <hr class="star-light">
                        <%= image_tag "freelancer/portfolio/marshy.png", class: "img-responsive", alt: "" %>
                        <p>Marshy is the most popular minilop at her bunny school. With a flick of her ears she has the power to mesmerize all the boys and charm all the girls. You don't want to get on her bad side though, Marshy may look cute but she's also very fierce and is not afraid of anyone!</p>
                        <ul class="list-inline item-details">
                            <li>Best Feature:
                                <strong><a href="#">Ears</a>
                                </strong>
                            </li>
                            <li>Sassyness:
                                <strong><a href="#">8/10</a>
                                </strong>
                            </li>
                            <li>Cuteness:
                                <strong><a href="#">500/10</a>
                                </strong>
                            </li>
                        </ul>
                        <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        <h2>Meet Jellburr!</h2>
                        <hr class="star-light">
                        <%= image_tag "freelancer/portfolio/jellburr.png", class: "img-responsive", alt: "" %>
                        <p>Jellburr is a very influential leader among Noo's Toys. She is the first to start farting at noodles and many other toys have followed her lead. Jellburr isn't ashamed of her farts, but instead flaunts them like a proud little hedgehog. Some people may find her eyes intimidating, but Jellburr again flaunts them as being bold and beautiful. She's a confident hedgehog who don't need no man.</p>
                        <ul class="list-inline item-details">
                            <li>Best Feature:
                                <strong><a href="#">Eyes</a>
                                </strong>
                            </li>
                            <li>Sassyness:
                                <strong><a href="#">9/10</a>
                                </strong>
                            </li>
                            <li>Cuteness:
                                <strong><a href="#">10/10</a>
                                </strong>
                            </li>
                        </ul>
                        <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="portfolio-modal modal fade" id="portfolioModal3" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        <h2>Meet Ellyphant!</h2>
                        <hr class="star-light">
                        <%= image_tag "freelancer/portfolio/elly.png", class: "img-responsive", alt: "" %>
                        <p>Ellyphant is a playful little Elephant and one of the shyest among Noo's Toys. Although she isn't comfortable around strangers, it's a whole different story when she's with Noo her and friends. Ellyphant loves to sing with her trunk, boogie with her little feet and blow her trunk at annoying people. Don't let first impressions fool you, Elephant is a riot!</p>
                        <ul class="list-inline item-details">
                            <li>Best Feature:
                                <strong><a href="#">Trunk</a>
                                </strong>
                            </li>
                            <li>Sassyness:
                                <strong><a href="#">50/10</a>
                                </strong>
                            </li>
                            <li>Cuteness:
                                <strong><a href="#">10/10</a>
                                </strong>
                            </li>
                        </ul>
                        <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="portfolio-modal modal fade" id="portfolioModal4" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        <h2>Meet Geraldine!</h2>
                        <hr class="star-light">
                        <%= image_tag "freelancer/portfolio/geraldine.png", class: "img-responsive", alt: "" %>
                        <p>Geraldine is the cheekyest of all of Noo's toys. Don't let her cute appearance fool you, Geraldine will pull a prank on you when you least expect it. Geraldine loves to use her long neck to peek through classrooms and poke peoples shoulders when they aren't looking and run away before they find out so they get very confused. Despite her cheekyness Geraldine always gets out of trouble because she's so cute :).</p>
                        <ul class="list-inline item-details">
                            <li>Best Feature:
                                <strong><a href="#">Neck</a>
                                </strong>
                            </li>
                            <li>Cheekyness:
                                <strong><a href="#">9000000/10</a>
                                </strong>
                            </li>
                            <li>Cuteness:
                                <strong><a href="#">10/10</a>
                                </strong>
                            </li>
                        </ul>
                        <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="portfolio-modal modal fade" id="portfolioModal5" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        <h2>Meet Mocha!</h2>
                        <hr class="star-light">
                        <%= image_tag "freelancer/portfolio/mocha.png", class: "img-responsive", alt: "" %>
                        <p>Mocha is Noo's very first toy and holds a special place in her heart. Among all the other toys Mocha acts as the big sister and makes sure to look after all of them no matter how big or small they may be. All the toys love and respect Mocha and they all seem to behave really well around her too, even Geraldine. Mocha also has a special ability no other toy has too, she can wake up Snowbelle from her deep slumber.</p>
                        <ul class="list-inline item-details">
                            <li>Best Feature:
                                <strong><a href="#">Squeaker</a>
                                </strong>
                            </li>
                            <li>Leadership:
                                <strong><a href="#">9000000/10</a>
                                </strong>
                            </li>
                            <li>Cuteness:
                                <strong><a href="#">10/10</a>
                                </strong>
                            </li>
                        </ul>
                        <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="portfolio-modal modal fade" id="portfolioModal6" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        <h2>Meet Christopher Burr!</h2>
                        <hr class="star-light">
                        <%= image_tag "freelancer/portfolio/cburr.png", class: "img-responsive", alt: "" %>
                        <p>Christopher is the most adventurous of the bunch. He loves to run around and play all day, and sometimes escapes out of the house to go on adventures and explore hidden lands. Not to worry though, Christopher knows when Noo will be home and will make sure to be back by then. He's also a very protective big brother to all the toys. Christopher watches over all the toys when they sleep at night and even Noo too. You never have to worry about being safe when Christopher Burr is around :).</p>
                        <ul class="list-inline item-details">
                            <li>Best Features:
                                <strong><a href="#">Scarf and Beanie</a>
                                </strong>
                            </li>
                            <li>Fluffyness:
                                <strong><a href="#">752/10</a>
                                </strong>
                            </li>
                            <li>Cuteness:
                                <strong><a href="#">100000/10</a>
                                </strong>
                            </li>
                        </ul>
                        <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


